---
import "remixicon/fonts/remixicon.css";

import { getCollection } from "astro:content";
import { filesize } from "filesize";
import { POSTS_PATH } from "../constants";

let allPosts = (await getCollection("posts")).filter(
	(x) => !x.slug.includes("drafts"),
);
const postsJson = JSON.stringify(allPosts, null, 4);

allPosts.sort((a, b) => b.date - a.date);

const logs = await getCollection("logs");
const logsAttributes = logs[0];

const iconMappings = {
	".md": "ri-markdown-line",
};
const archiveDate = new Date("2022-03-24");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Suraj Yadav</title>
	</head>
	<body>
		<h2>Index of /suraj</h2>
		<!-- <pre>{postsJson}</pre>
		<pre>{logs}</pre> -->
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Timestamp</td>
					<td>Size</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="post-title">
						<>
							<i class="ri-markdown-line"></i>
							<a href="/logs" class="post-link">logs</a>
						</>
					</td>
					<td
						title={archiveDate.toISOString().substring(0, 10)}
						class="post-date">{logsAttributes.data.date.getTime()}</td
					>
					<td class="post-size">{filesize(logsAttributes.body.length)}</td>
				</tr>
				{
					allPosts.map(({ id: title, slug, body, data: { date } }) => (
						<tr>
							<td class="post-title">
								<>
									<i class="ri-markdown-line" />
									<a href={`/posts/${slug}`} class="post-link">
										{title}
									</a>
								</>
							</td>
							<td title={date.toISOString().substring(0, 10)} class="post-date">
								{date.getTime()}
							</td>
							<td class="post-size">{filesize(body.length)}</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</body>
</html>

<style is:global>
	/* ia-writer-mono-latin-400-normal */
	@font-face {
		font-family: "iA Writer Mono";
		font-style: normal;
		font-display: swap;
		font-weight: 400;
		src:
			url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff2)
				format("woff2"),
			url(https://cdn.jsdelivr.net/fontsource/fonts/ia-writer-mono@latest/latin-400-normal.woff)
				format("woff");
	}

	body {
		font-family: "iA Writer Mono", monospace;
	}

	table {
		width: 72ch;

		border-top: 1px dashed black;
		border-left: 5px solid black;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		border-collapse: collapse;

		margin-top: 1rem;
		margin-bottom: 2rem;

		box-shadow: 2px 2px 0px black;
	}

	th {
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid black;
	}

	td {
		border: 1px solid black;
		padding-left: 0.5rem;
		word-break: break-word;
	}

	.post-link {
		border: none;
		padding-left: 0.5rem;
	}

	pre {
		height: 200px;
		overflow: scroll;
	}

	.post-title {
		width: 60%;
	}
	.post-date {
		width: 20%;
	}
	.post-size {
		width: 20%;
	}
</style>
